<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678222681147-iuol9pqbdd7fdudk8sq8as4ho1pdh49n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678222681147-iuol9pqbdd7fdudk8sq8as4ho1pdh49n</string>
	<key>API_KEY</key>
	<string>AIzaSyCPVSNS03mulp7ZO-5FXtu6lv9ETU2jshY</string>
	<key>GCM_SENDER_ID</key>
	<string>678222681147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.titef.gtaxiApp</string>
	<key>PROJECT_ID</key>
	<string>gtaxi-de48c</string>
	<key>STORAGE_BUCKET</key>
	<string>gtaxi-de48c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678222681147:ios:b8204e43ae9bb2a348381e</string>
	<key>DATABASE_URL</key>
	<string>https://gtaxi-de48c-default-rtdb.firebaseio.com</string>
</dict>
</plist>